<h1>stractural-direvatives</h1>

<!-- ngif   eg 1-->

<div *ngIf="show">
  <h2>Hello Angular</h2>
</div>

<!-- ngif   eg 2-->
 <!-- using else block -->

 <div *ngIf="show; else elseBlock">
  <h2>MY CONTENT</h2>
 </div>
 <ng-template #elseBlock>
<h2>I am in else block</h2>
 </ng-template>


 <!-- ngFor -->
  <li *ngFor="let item of Fruits">
{{item}}
  </li>

  <!-- ngSwitch (used to handle multiple conditions ) -->

  <div [ngSwitch]="status">
    <p *ngSwitchCase="'loading'">Loading data</p>
    <p *ngSwitchCase="'success'">data loaded</p>
    <p *ngSwitchCase="'error'">failed data</p>

  </div>

  